﻿h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
ul {
     list-style-type: none;
    display: inline-block;
     margin: 0;
    padding: 0;
}
li a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 0px;
  display: block;
  background-color: #eee;
  border-radius: 0px;
}
li a:visited, a:link {
  color: #607D8B;
}
li a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
li a.active {
  color: #039be5;
}


