﻿<div class="toptop">
    <img src="app/images/LogoText.png">
    <div>

    </div>

</div>
<div class="sidebar">
    <div class="wrapper">
        <nav class="vertical">
            <ul>
                <li>
                    <a [routerLink]="['/home']">  <label for="home">Home</label></a>
                <li>
                    <label for="events">Events</label>
                    <input type="checkbox" name="verticalMenu" id="events" />
                    <div>
                        <ul>
                            <li><a [routerLink]="['/NewEventForm']" routerLinkActive="active">Register New Event</a></li>
                            <li><a [routerLink]="['/EventList']" routerLinkActive="active">Events List</a></li>

                        </ul>
                    </div>
                </li>
                <li>
                    <label for="nodes">Sensors</label>
                    <input type="checkbox" name="verticalMenu" id="nodes" />
                    <div>
                        <ul>
                            <li><a [routerLink]="['/NewNodeForm']" routerLinkActive="active">Register New Sensor</a></li>
                            <li><a [routerLink]="['/NodeList']" routerLinkActive="active">Sensor List</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="extras">Extras</label>
                    <input type="checkbox" name="verticalMenu" id="extras" />
                    <div>
                        <ul>
                            <li><a [routerLink]="['/Help']" routerLinkActive="active">Help</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>



</div>
<div class="main">
    <router-outlet></router-outlet>

</div>

<div class="bottom">


</div>