﻿
<h2>{{event?.name}}</h2>

<h3><label>Details</label></h3>

<div class="detailSec">

    <table id="t1" style="width:40%">
        <tr>
            <td><label>Name: </label> </td>
            <td>{{event?.name}}</td>
        </tr>
        <tr>
            <td><label>Location: </label> </td>
            <td>{{event?.location}}</td>
        </tr>
        <tr>
            <td><label>Start Date: </label></td>
            <td>{{event?.startDate|date :fulldate }}</td>
        </tr>
        <tr>
            <td><label>Start Time: </label></td>
            <td>{{event?.startDate|date : 'shortTime' }}</td>
        </tr>
        <tr>
            <td><label>End Date: </label></td>
            <td>{{event?.endDate| date : fulldate}}</td>
        </tr>
        <tr>
            <td><label>End Time: </label></td>
            <td>{{event?.endDate|date : 'shortTime' }}</td>
        </tr>
        <tr>
            <td><label>Organiser: </label></td>
            <td>{{event?.organiser}}</td>
        </tr>
    </table>
    <button (click)="gotoEdit()">Edit Event Details</button>
   

    
</div>


<h3><label>Event Sensors</label></h3>
<div class="nodeSec">
    
    <table id="t2" style="width:60%">
        <tr>
            <th>ID No.</th>
            <th>Modify</th>
        </tr>
        <tr *ngFor="let aNode of eventNodeList" class="data">
            <td>{{aNode.serial}}</td>
            <td><button (click) ="removeNodeOnEvent(aNode.id)">Remove Sensor</button></td>
        </tr>
</table>
    <button (click)="gotoAttach()">Attach a Sensor</button>
</div>

<h3><label>Data</label></h3>
<div class="graphSec">
    <nvd3 style="fill:white;" [options]="options" [data]="data"></nvd3>

</div>




