﻿<div>
    <h1>Attach Sensors for {{currentEvent?.name}}</h1>
</div>

<div style="overflow-x:auto;">
    <table style="width:80%">
        <tr>
            <th>Serial No.</th>
            <th>Select</th>
        </tr>

        <tr *ngFor="let node of initNodes" class="data">
            <td>{{node.serial}}</td>
            <td><input type="checkbox" [(ngModel)]="node.selected" name="checked" (change) ="checkbox(node)"/></td>
        </tr>
        
    </table>
</div>

<button (click)="attachNodes()">Attach Selected Sensors</button>

