﻿<div>
    <h1>Events </h1>
</div>

<div style="overflow-x:auto;">
    <table style="width:80%">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>Go To</th>
        </tr>
        
        <!--sort is the 'sortpipe' passed into the component-->
        <tr *ngFor="let event of events | sort" class="data">
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.startDate| date : format : fulldate}}</td>
            <td class="button"><button (click)="gotoDetail(event)">View Info</button></td>
        </tr>
    </table>
</div>


