﻿<div class="container">
    <h2>{{event?.name}}</h2>

    <form *ngIf="active" #editForm="ngForm" (ngSubmit)="onSubmit(editForm.value)">

        <div class="form-group">
            <label for="name">Event Name</label>
            <input type="text" class="form-control" 
                   ngModel value={{event?.name}} name="name" >

        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control"
                   ngModel value={{event?.location}} name="location">

        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label> <br />
            
            <input type="datetime-local" class="form-control" value = "{{event?.startDate | date: 'yyyy-MM-ddTHH:mm'}}"
                  min = "{{today | date: 'yyyy-MM-ddTHH:mm'}}"
                  
                    ngModel  = "{{event?.startDate | date: 'yyyy-MM-ddTHH:mm'}}" name="startDate" >
        </div>

        <div class="form-group">
            <label for="endDate">End Date</label> <br />
            
            <input type="datetime-local" class="form-control" value = "{{event?.endDate | date: 'yyyy-MM-ddTHH:mm'}}"
                  min = "{{today | date: 'yyyy-MM-ddTHH:mm'}}"
                    ngModel  = "{{event?.endDate | date: 'yyyy-MM-ddTHH:mm'}}"  name="endDate" >
        </div>
        <div class="form-group">
            <label for="organiser">Organiser</label>
            <input type="text" class="form-control"
                    ngModel value={{event?.organiser}} name="organiser">
        </div>

        <button type="button"  (click)="showConfirm()">Update</button>
        <button type ="button" (click)="showEventDeleteConfirm()">Delete Event</button>

        <div *ngIf="confirm" class="confirm">
            <p>Are you sure you would like to update these details?</p>
            <button type="submit" >Yes</button>
            <button type="button"  (click)="hideConfirm()">No</button>

        </div>
       

        <div *ngIf="confirmEventDelete" class="confirm">
            <p>Are you sure you would like to delete this event?</p>
            <button type="button" (click)="deleteEvent()">Yes</button>
            <button type="button" (click)="hideEventDeleteConfirm()">No</button>

        </div>
    </form>
</div>

