﻿<div class="container">
    <h1>Event Form</h1>
    <form *ngIf="active" #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm.value)" >

      <!--  <div class="form-group">
            <label for="id">Event ID</label>
            <input type="text" class="form-control" required
                   [(ngModel)]="model.id" name="id" #id="ngModel">
            <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
                ID is required
            </div>
        </div> -->
        <div class="form-group">
            <label for="name">Event Name</label>
            <input type="text" class="form-control" required
                   [(ngModel)]="model.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control"
                   [(ngModel)]="model.location" name="location">

        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label> <br />
            <label>DD/MM//YYYY HH:MM (AM/PM)</label>
            <input type="datetime-local" class="form-control" min = "{{today | date: 'yyyy-MM-ddTHH:mm:ss'}}" required
                   [(ngModel)]="model.startDate" name="startDate" #startDate="ngModel">

            <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger">
                Starting Date is invalid
            </div>
         </div>

        <div class="form-group">
            <label for="endDate">End Date</label> <br />
            <label>DD/MM/YYYY HH:MM (AM/PM)</label>
            <input type="datetime-local" class="form-control" min = "{{model.startDate}}"required
                   [(ngModel)]="model.endDate" name="endDate" #endDate="ngModel">
           
            <div [hidden]="endDate.valid || endDate.pristine" class="alert alert-danger">
                End Date is invalid
            </div>
        </div>
        <div class="form-group">
            <label for="organiser">Organiser</label>
            <input type="text" class="form-control"
                   [(ngModel)]="model.organiser" name="organiser">
        </div>

        <button type="button" class="btn btn-default" (click)="showConfirm()">Create Event</button>
        <button type="button" class="btn btn-default" (click)="newEvent()">Clear Form</button>

        <div *ngIf="confirm" class="confirm">
            <p>Are you sure you would like to submit this form?</p>
            <button type="submit" class="btn btn-default">Yes</button>
            <button type="button" class="btn btn-default" (click)="hideConfirm()">No</button>

        </div>
        
          
        
    </form>
</div>

