﻿<h1>FAQ</h1>
<h3>How do I make an Event?</h3>
<p>
    To make an Event simply navigate to the ‘Events tab’ on the left side of the page.
    Click it to see the drop down menu for Events, then click ‘Register New Event’.
    You should now see a form titled ‘Event Form’. Simply fill out all the fields and click submit when you are done.
</p>
<h3>I accidently filled out part of the form wrong, can I change it?</h3>
<p>Yes, if you have yet to submit the form simply change the field to correct it. Alternatively you can hit reset to clear everything and start again.
If you have already submitted the form any details concerning your Event can be updated if needed by selecting the ‘Edit’ button located on that particular Event’s page. This includes the Event’s title and the Start and End times.
</p>
<h3>How do I remove an Event?</h3>
<p>
    To remove an Event, navigate to that Event's page and click on the Edit Event button. Once there click the delete button found at the bottom of the form. Confirm your decision and the Event will be permanently deleted.
</p>
<h3>How do I register a new Sensor?</h3>
<p>Similarly to making an Event, to register a new Sensor simply navigate to the Sensors tab on the left side of the page. 
    Click it to see the drop down menu for Sensors, then click ‘Register New Sensor’. 
    You will then see a form titled ‘New Sensor’. Enter the Serial Number of your Sensor into the field and click the ‘Register’ button to register the Sensor to your account.
 </p>
<h3>How do I add Sensors to an Event?</h3>
<p>
    Once you have created an Event you can add Sensors to it via that Event’s page. A table of all Sensors registered to that Event will appear below the Event information. Click on the Attach Sensors button which will navigate you to a seperate page. Simply check the box of the Sensor/s you want collecting data for that Event and click the Attach Sensors button to attach those Sensors to that Event.
</p>
<h3>How do I remove a Sensor from an Event?</h3>
<p>
    A button to remove a Sensor from an Event can be found in the Sensor List of a particular Event. Simply click this button to remove the Sensor.
</p>