﻿<div>
    <h1>Sensors </h1>
</div>

<div style="overflow-x:auto;">
    <table style="width:80%">
        <tr>
            <th>Serial No.</th>
        </tr>

        <tr *ngFor="let node of nodes" class="data">
            <td>{{node.serial}}</td>
        </tr>
    </table>
</div>
