﻿<div class="container">
    <h1>Sensor Form</h1>
    <form *ngIf="active" #nodeForm="ngForm" (ngSubmit)="onSubmit(nodeForm.value)">

        <div class="form-group">
            <label for="serial">Serial No.</label>
            <input type="text" class="form-control" required
                   [(ngModel)]="model.serial" name="serial" #serial="ngModel">
            <div [hidden]="serial.valid || serial.pristine" class="alert alert-danger">
                Serial is required
            </div>
        </div>
        

        <button type="button" class="btn btn-default" (click)="showConfirm()">Submit</button>
        <button type="button" class="btn btn-default" (click)="newNode()">Clear Form</button>
        
        <div *ngIf="confirm" class="confirm">
            <p>Are you sure you would like to submit this form?</p>
            <button type="submit" class="btn btn-default">Yes</button>
            <button type="button" class="btn btn-default" (click)="hideConfirm()">No</button>

        </div>

    </form>
</div>
