﻿@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v7/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff);
}

/* The Top Content Area */

.toptop {
         background-color: rgb(27, 38, 39);
        position:fixed;
        left:0; right:0; top:0;
        height: 120px;
z-index: 1;
color: rgb(195,242,249);
text-align: left;
}

.toptop>img{
height: 100%;
}

/*The Main Content Area */
.main { 
        position: absolute;
        left:20%; top:120px; right:0; bottom:0;
        text-align: center; 
        background-color: rgb(53, 76, 79);
color: rgb(255,255,255);
font-family: Raleway
   height: 100%;
        
}

/* The Side Content Area */      
.sidebar {
    width: 20%;
    position:fixed;
    top: 120px;
    height: 100%;
    left:0px;
    z-index: 1;
    margin: 0;
    
    
background-color: rgb(21, 24, 24);
}
.bottom {
         background-color: rgb(53, 76, 79);
        position:fixed;
        left:0; right:0; top:0;
        height:100%;
z-index: -1;
}
/* Individual nav bar items */


nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;

}

  nav.vertical > ul {
    list-style-type: none;
padding: 0;
margin: 0;

  }

    nav.vertical > ul > li {
        display: block;
    }

      nav.vertical > ul > li > label,
      nav.vertical > ul > li > a {
        background-color: rgb(157, 34, 60);
        background-image: -webkit-linear-gradient(135deg, rgb(20, 93, 103), rgb(39, 136, 150));
        background-image: -moz-linear-gradient(135deg, rgb(20, 93, 103), rgb(39, 136, 150));
        background-image: -o-linear-gradient(135deg, rgb(20, 93, 103), rgb(39, 136, 150));
        background-image: linear-gradient(135deg, rgb(20, 93, 103), rgb(39, 136, 150));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size:  16px;
        font-weight: 500;
        height: 70px;
        letter-spacing: .5rem;
        line-height: 70px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        margin: 0px;
        
      }

        nav.vertical > ul > li > label:hover,
        nav.vertical > ul > li > a:hover {
         background-color: rgb(114, 51, 98);
         background-image: -webkit-linear-gradient(150deg, rgb(20, 143, 153), rgb(39, 136, 150));
         background-image: -moz-linear-gradient(150deg, rgb(20, 143, 153), rgb(39, 136, 150));
         background-image: -o-linear-gradient(150deg, rgb(20, 143, 153), rgb(39, 136, 150));
         background-image: linear-gradient(150deg, rgb(20, 143, 153), rgb(39, 136, 150));
         cursor: pointer;
        }

        nav.vertical > ul > li > label + input {
          display: none;
          visability: hidden;
        }
        
          nav.vertical > ul > li > div {
            background-color: rgb(74, 176, 190);
            max-height: 0;
            overflow: hidden;
            transition: all .5s linear;
          }

            nav.vertical > ul > li > label + input:checked + div {
              max-height: 500px;
            }
 
          nav.vertical > ul > li > div > ul {
            list-style-type: none;
            padding: 0;
          }

            nav.vertical > ul > li > div > ul > li > a {
             background-color: rgb(74, 176, 190);
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 12px;
             padding: 10px 0;
             text-decoration: none;
             transition: all 0.15s linear;
             margin: 0px;
            height: 40px;

            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: rgb(125, 213, 225);
                color: rgb(255,255,255);
                padding: 10px 0 10px 50px;
              }