﻿
table#t2{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
   
}

td {
  font-family: Play; 
  word-wrap: break-word;
   max-width: 150px;
}

table#t2 th {
    height: 30px;
    text-align:center; 
    background-color:  rgb(125,213,225);
    color: black;
    border-bottom: 1px solid black;
}
table#t2 tr{
    text-align:center;
   background-color: rgb(39, 136, 150);
    color: white;
    height: 50px;
    border: 1px solid black;
    
}
table#t2 tr:nth-child(even) {
    background-color: rgb(20, 93, 103);

}
table#t2 tr.data>td:not(.button):hover {
    
 
    text-shadow: 0 0 5px lightblue,4px 4px 5px black;
    
    
}
tr.data>td{
    transition: all .1s ease;
    

}


td.button{
    width: 20%
}

table#t1{
    margin-left: 30%;
    margin-right: 30%;
    color:white;
}

table#t1 tr{
    background-color:none;
    text-shadow:none;
    text-align:center;
    height: 50px;
    border: none;
}

button{
   transition-duration: 0.2s;
    color: black;
    background-color: aliceblue;

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.graphSec, div.nodeSec, div.detailSec{
    border-bottom: 3px groove white;
    border-top: 3px groove white;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding: 10px;
    
}

h2{
    font-family: Reem Kufi;
    
}
h3{
    font-family: Reem Kufi;
     
}

div.confirm {
    height: 12%;
    width: 30%;
    margin-left:25%;
    margin-right:40%;
    background-color:rgba(255, 255, 255,0.2);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding:5px 2px 2px;
    font-size: 110%;
    animation: mymove 1s;
    animation-fill-mode: forwards;
    
   
}

@keyframes mymove {
    from {opacity: 0; margin-top:2%; }
  to { opacity: 1; margin-top:5%; }
    
}

div.graphSec{
    padding: 12px;
    background-color:black;
}
