﻿
td {
  font-family: Play;
}
table{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
}
th {
    height: 30px;
    text-align:center; 
    background-color: rgb(125,213,225);
    color: black;
    border-bottom: 1px solid black;
    font-family: Reem Kufi;
    font-size: 14pt;
}
tr:nth-child(even) {
    background-color: rgb(20, 93, 103);

}
tr.data>td:not(.button):hover {
    
 
    text-shadow: 0 0 5px lightblue,4px 4px 5px black;
    
    
}
tr.data>td{
    transition: all .1s ease;
    

}


tr{
    text-align:center;
   background-color: rgb(39, 136, 150);
    color: white;
    height: 50px;
    border: 1px solid black;
    font-family: Play;
    
}
button{
   transition-duration: 0.2s;
    color: black;
    background-color: aliceblue;

}


button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div{
    margin-top: 20px;
}
div>h1{
    font-family: Reem Kufi;
}
