﻿h1{
    font-family: Reem Kufi;
}
div.form-group{
    font-family: Play
}
input {
    background-color: aliceblue;
    transition: all 0.3s ease;
    font-size: 12pt;
    
}
input:focus {
    background-color: lightgrey;
}
label{
    font-size: 16px;
}
div.confirm {
    height: 12%;
    width: 30%;
    margin-left:35%;
    margin-right:40%;
    background-color:rgba(255, 255, 255,0.2);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding:5px 2px 2px;
    font-size: 110%;
    animation: mymove 1s;
    animation-fill-mode: forwards;
}

button{
   transition-duration: 0.2s;
    color: black;
    background-color: aliceblue;

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@keyframes mymove {
    from {opacity: 0; margin-top:2%; }
  to { opacity: 1; margin-top:5%; }
    
}