﻿

path {
    stroke: steelblue;
    stroke-width: 4;
    fill: none;
	opacity: 0.5;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.legend {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}

/*Tool tip for the line chart*/
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 250px;					
    height: 55px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: white;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
.nvd3 .nv-groups path.nv-line {
      stroke-width: 5px;
}